<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>

    <%- include("./partials/styleComponent.partials.ejs") %>

</head>


<body>
    <div>
        <%- include("./partials/navbarComponent.partials.ejs") %>
    </div>

    <div class="container mt-3">
        <div class="row row-cols-4">
            <% blogs.forEach(element=> { %>

                <div class="col">
                    <div class="card col" style="width: 18rem;">
                        <img src="<%= element.coverImageUrl %>" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= element.title %>
                            </h5>

                            <a href="/api/blogs/<%= element._id %>" class="btn btn-primary">View</a>
                        </div>
                    </div>
                </div>

                <% }) %>
        </div>
    </div>


    <%- include("./partials/scriptComponent.partials.ejs") %>

</body>

</html>